html, body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	font-family: "Droid Sans", "Liberation Sans", "DejaVu Sans", "Segoe UI", Sans-Serif;
	font-size: 10pt;
	background: #EAEAEA;
	color: #ffffff;
	-webkit-background-size: 100%;
	-moz-background-size: 100%;
	-o-background-size: 100%;
	background-size: 100%;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	width: 100%;
	background-attachment: fixed;
	background-position: center center;
	padding-bottom: 0px;
	margin-bottom: 0px;
}
ul, li {
	list-style-type: none; 
	margin: 0; 
	padding: 0; 
}

a, a:link, a:visited { 
	color: white; 
	text-decoration: none; 
}

a:hover, a:active { 
	color: white; 
}

.center { 
	position: relative; 
	width: 100%; 
	height: 90%;
}

.center .content {
	margin: auto; overflow: auto; width: 700px; height: 550px;
	position: absolute; left: 0; top: 0; right: 0; bottom: -50px;
	text-align: center; opacity: 1; transition: .3s ease-out;
	z-index:2;
}

#search {
	margin-top: -8px;
	width: 400px;
	background-image: url('../img/bg1.jpg');
	background-position: 50% 50%;
	background: rgba(10, 7, 37, 0.59);
	color: #fff;
	border: 6px solid #FFF;
	border-radius: 3px;
	padding: 5px 5px;
	font-size: 12pt;
	font-family: "Droid Sans", "Liberation Sans", "DejaVu Sans", "Segoe UI", Sans-Serif; font-size: 10pt;
	-moz-box-shadow: 0px -10px 10px -5px #000000;
	-webkit-box-shadow: 0px -10px 10px -5px #000000;
	-o-box-shadow: 0px -10px 10px -5px #000000;
	box-shadow: 0px -10px 10px -5px #000000;
	filter:progid:DXImageTransform.Microsoft.Shadow(color=#000000, Direction=90, Strength=10);
	font-style: italic;
}

#search:focus {
	border-color: #E0E0E0 !important; 
}
	
#search:hover {
	border-color: #E0E0E0;
}

#logotop {
	margin: 0 auto;
	background-image : url('../img/logo_start_ombre.png');
	background-size: 425px 134px;
	width : 425px; 
	height : 134px;
	margin-top:60px;
	margin-bottom:-5px;
}

.fa {
	display: inline-block;
	font: normal normal normal 14px/1 FontAwesome;
	font-size: 32pt;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

#links a {
	text-decoration: none;
	color: #FFFFFF;
	display:inline-block;
	text-transform: uppercase;
	font-size: 10pt;
	width:75px;
	margin:10px;
	margin-top:0px;
	margin-bottom:0px;
}

#links {
	margin-top:10px;
}

#links a:hover {
	text-decoration: none;
	color: #E0E0E0;
}

#short {
	z-index:3;
}

.content input { 
	text-indent: 0px;
}

.content .fa-search {
	position: absolute;
	margin-top: 1px;
    margin-left: 390px;
    display: inline;
	font-size: 16pt;
	width:0px;
}

#lien {
	position: relative;
	display: block;
	text-align: center;
	margin-top:5px;
	font-size:10pt;
}

/* ---- particles.js container ---- */

#particles-js{
	position:absolute;	
	width: 100%;
	height: 99%;
	background-image: url('');
	background-size: cover;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	z-index:1;
}

.SEEDBOX {
	display:inline-block;
	margin:10px;
	margin-top:5px;
}

.CLOUD {
	display:inline-block;
	margin:10px;
	margin-top:5px;
}

.HOSTING {
	display:inline-block;
	margin:10px;
}

.MISC {
	display:inline-block;
	margin:10px;
}

.link1{
  position: relative;
  text-align:center;
  margin-left: auto;
  margin-right: auto;
  width: 260px;
}

.link2{
  position: relative;
  text-align:center;
  margin-left: auto;
  margin-right: auto;
  width: 260px;
}

.link3{
  position: relative;
  text-align:center;
  margin-left: auto;
  margin-right: auto;
  width: 260px;
}

.link4{
  position: relative;
  text-align:center;
  margin-left: auto;
  margin-right: auto;
  width: 260px;
}

.CPU {
	display:inline-block;
	margin-left:10px;
	margin-right:10px;
}

#CPUbar {
	position: relative;
  	margin-left: auto;
  	margin-right: auto;
	text-align:center;
}

.RAM {
	display:inline-block;
	margin-left:10px;
	margin-right:10px;
}

#RAMbar {
	position: relative;
  	margin-left: auto;
  	margin-right: auto;
	text-align:center;
}

.HDD {
	display:inline-block;
	margin-left:10px;
	margin-right:10px;
}

#HDDbar {
	position: relative;
  	margin-left: auto;
  	margin-right: auto;
	text-align:center;
}

.Latency {
	display:inline-block;
	margin-left:10px;
	margin-right:10px;
}

#Latencybar {
	position: relative;
  	margin-left: auto;
  	margin-right: auto;
	text-align:center;
}

/* BARRE DE PROGRESSION */
/*
Copyright (c) 2010-2012 Ivan Vanderbyl
Originally found at http://ivan.ly/ui
*/

.ui-progress-bar {
	position: absolute;
	width:50px;
	height: 3px;
	margin-top:5px;
	margin-bottom:5px;
	background-color: rgba(255, 255, 255, .33);
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-o-border-radius: 5px;
	-ms-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	margin-left:210px;

}

.ui-progress-bar .ui-progress {
	position: absolute;
	display: block;
	overflow: hidden;
	height: 3px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-o-border-radius: 5px;
	-ms-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	-webkit-background-size: 44px 44px;
	-moz-background-size: 36px 36px;
	background-color: white;
}

/* Responsive */
@media screen and (max-width: 652px){
    .CLOUD, .SEEDBOX, .HOSTING, .MISC {
        display: block;
    }
    .center .content {
        overflow: scroll;
        margin: 0;
        width: 100%;
        height: 100%;
    }
    #search {
        width: 80%;
    }
    .content .fa-search {
        margin-left: 84%;
        display: flex;
    }
}

@media screen and (min-width: 320px) and (max-width: 430px){
    #logotop {
        width: 327px;
        height: 103px;
        background-size: 327px 103px;
        
    }
}

@media (max-width: 320px){
    #logotop {
        width: 213px;
        height: 67px;
        background-size: 213px 67px;
    }
}
